torch
torchvision
torchaudio
--index-url https://download.pytorch.org/whl/cu118
torchtext
numpy
transformers
sentencepiece
accelerate
"jax[cuda12_pip]"
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
flax
